# created by virtualenv automatically
.venv/
.idea/
/trainseat/.gitignore
/trainseat/src/trainseat.dist-info/INSTALLER
/trainseat/src/trainseat.dist-info/METADATA
/trainseat/src/trainseat.dist-info/top_level.txt
/trainseat/src/trainseat.dist-info/WHEEL
/trainseat/logs/briefcase.2025_02_19-10_17_25.dev.log
/trainseat/logs/briefcase.2025_02_25-12_09_05.dev.log
